<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Cookbook - Search</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/default-styles">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <h1>Search Recipes</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/browse">Search</a>
      <a href="/add-recipe">Add</a>
      <a href="/admin">Admin</a>
    </nav>
    <main>
      <div id="search">
        <label for="searchterm">Search for recipes: </label>
        <input type="text" id="searchterm" v-model='searchterm'>
        <br>
        <label for="ingredients">With ingredients (separated by commas): </label>
        <input type="text" id="ingredients" v-model='ingredients'>
        <button type="button" v-on:click='searchRecipes'>Search</button>

        <div id="results">
          <div class="recipe" v-for='recipe in recipes'>
            <h3>{{recipe.name}}</h3>
            <ul>
              <li v-for="ingredient in recipe.ingredients">
                {{ingredient.amount}} {{ingredient.units}} <span v-if="ingredient.units.length > 0"> of </span>
                <a v-if="ingredient.link.length > 0" v-bind:href="ingredient.link">{{ingredient.name}}</a><span v-else>{{ingredient.name}}</span>
              </li>
            </ul>
            <ol>
              <li v-for="step in recipe.steps">
                {{step.text}}
              </li>
            </ol>
          </div>
        </div>
      </div>
    </main>
    <script>
      let app = new Vue({
        el: '#search',
        data: {
          recipes: [],
          searchterm: '',
          ingredients: ''
        },
        methods: {
          searchRecipes() {
            let cleanIngredients = this.ingredients.replace('/,\s*/', ',').trim();
            
            fetch('/recipes?'
            + 'searchterm=' + this.searchterm
            + '&ingredients=' + cleanIngredients).then(response =>{
              if(response.ok)
                return response.json();
              else
                throw new Error('no recipes found');
            }).then(json => {
              this.recipes = json;
              console.log(this.recipes);

//got help w/ error from here
//https://stackoverflow.com/questions/38235715/fetch-reject-promise-and-catch-the-error-if-status-is-not-ok
            }).catch(error=>{
              alert(error);
              return Promise.reject();
            });
            
          }
        }
      });
    </script>
  </body>
  
</html>