<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Cookbook - Add Recipe</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/default-styles">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    
    const sendPost = (e, recipe) => {
      e.preventDefault();
      const xhr = new XMLHttpRequest();

      xhr.open('POST', "/modify-recipes");
      xhr.setRequestHeader('Accept', 'application/json');
      xhr.setRequestHeader('content-type', 'application/json');
      
      xhr.onload = () => { alert(JSON.parse(xhr.responseText).message) };
      xhr.send(JSON.stringify(recipe));
      return false;
    }
    
    const init = () => {
      let app = new Vue({
        el: '#recipeForm',
        data: {
          name: '',
          ingredients: [{
              name: '',
              amount: '',
              units: '',
              link: ''
            }],
          steps: [{"text" : ''}]
        },
        methods: {
          addIngredient(){
            this.ingredients.push({
              name: '',
              amount: '',
              units: '',
              link: ''
              
            });
          },
          deleteIngredient(ingredient){
            this.ingredients = this.ingredients.filter(i => i != ingredient);
          },
          
          addStep(){
            this.steps.push({"text" : ''});
          },
          deleteStep(step){
            this.steps = this.steps.filter(s => s != step);
          },
          getRecipe() {
            return {"name" : this.name, "ingredients" : this.ingredients, "steps" : this.steps};
          }
        }
      });
    
      const recipeForm = document.querySelector('#recipeForm');

      const addRecipe = (e) => sendPost(e, app.getRecipe());

      recipeForm.addEventListener('submit', addRecipe);
    
    };
    
    window.onload = init;

  </script>
</head>
<body>
  <h1>Add Recipe</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/browse">Search</a>
    <a href="/add-recipe">Add</a>
    <a href="/admin">Admin</a>
  </nav>
  <main>
    <section id="top">
      <form id="recipeForm" action="/recipes" method="post">
        <label for="name"><h2>Recipe Name:</h2></label><input type="text" id="name" v-model="name"required>
        <h2>Ingredients:</h2>
        <ul id="ingredients">
          <li v-for="ingredient in ingredients" class="ingredient">
            <label for="ingredient-name">Name: </label>
            <input type="text" id="ingredient-name" v-model="ingredient.name" required>
            <!--is text to allow for input of fractions (e.g. 1/2 cup flour is rarely written as .5 cup flour)-->
            <label for="amount">Amount: </label> <input type="text" v-model="ingredient.amount" size="4"> 
            <label for="units">Units: </label>
            <select id="units" v-model="ingredient.units">
              <option value=" "> </option>

              <option value="can">can</option>
              <option value="box">box</option>
              <option value="bag">bag</option>
              <option value="jar">jar</option>

              <option value="bunch">bunch</option>
              <option value="sprig">sprig</option>

              <option value="ml">ml</option>
              <option value="dl">dl</option>
              <option value="liter">liter</option>

              <option value="dash">dash</option>
              <option value="fl oz">fl oz</option>
              <option value="cup">cup</option>

              <option value="oz">oz</option>
              <option value="lb">lb</option>

              <option value="pinch">pinch</option>
              <option value="tsp">tsp</option>
              <option value="tbsp">tbsp</option>

              <option value="mg">mg</option>
              <option value="g">g</option>
              <option value="kg">kg</option>

              <option value="pint">pint</option>
              <option value="quart">quart</option>
              <option value="gallon">gallon</option>

              <option value="mm">mm</option>
              <option value="cm">cm</option>
              <option value="m">m</option>

              <option value="inch">inch</option>
            </select>
            <label for="link">Store Link (optional):</label><input type="url" id="link" v-model="ingredient.link">
            <button type="button" v-on:click="deleteIngredient(ingredient)">Delete Ingredient</button>
          </li>
        </ul>
        <button type="button" v-on:click="addIngredient">Add Ingredient</button>
        <h2>Steps:</h2>
        <ol id="steps">
          <li v-for="step in steps">
            <textarea cols="50" rows="10" v-model="step.text"></textarea><br>
            <button type="button" v-on:click="deleteStep(step)">Delete Step</button>
            <br><br>
          </li>
        </ol>
        <button type="button" v-on:click="addStep">Add Step</button>
        <br>
        <input type="submit" value="Add Recipe" />
      </form>
      <p>Go to <a href="/browse">/browse</a> to see recipes.</p>
    </section>
    <section id="content">
    </section>
  </main>
  </body>
</html>